<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{1,37},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{1,75},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{1,1},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>demo.png</string>
            <key>size</key>
            <string>{48,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb4d4702285b1d7bab6adc58c5092487:39a61c6681b4d4a199deafbf17762c02:fa81eb3fbbf2734a8482009a99df8491$</string>
            <key>textureFileName</key>
            <string>demo.png</string>
        </dict>
    </dict>
</plist>
